* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
    color-adjust: exact !important;                 /* Firefox 48 – 96 */
    print-color-adjust: exact !important;           /* Firefox 97+, Safari 15.4+ */
}
.page-break {
    page-break-before: always;
}

.page-number {
    display: none;
}

.col-12 {
    width: 100%;
}

html,
body {
    font-family: "Lato", "Noto Sans TC", sans-serif;
    margin: 0;
    padding: 0;
    color: #333333;
    background-image: linear-gradient(rgba(246, 247, 248, 0.85), rgba(246, 247, 248, 0.9)), url('../img/background.png');
    background-size: 50%;
    background-color: #f6f7f8;
}

header {
    height: 60px;
    background-image: url('../img/title.jpg');
    color: #666666;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
}

nav {
    max-width: 820px;
    margin: 0 auto;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    font-weight: bold;
    letter-spacing: 1px;
}

main {
    max-width: 780px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 5%;
}

h2 {
    font-size: 22px;
    margin: 1rem 0 0.5rem;

}

h2::before {
    content: "";
    position: relative;
    top: 2px;
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    background-image: url('../img/arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
}

h3 {
    font-size: 18px;
    margin: 0 0 0.8rem;
    font-weight: 500;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.15);
}

section {
    margin-bottom: 10%;
}

p {
    color: #666666;
    font-size: 14px;
    line-height: 1.8;
}

a:hover {
    color: #025D8C;
}

.title {
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.1rem;
    color: #025D8C;
}

.connection-group {
    text-align: left;
    margin-left: 3%;
}

.connection {
    margin-top: 3%;
}

.description {
    letter-spacing:0.2rem;
    line-height: 1.7rem;
    margin-bottom: 1.5rem;
}
.description-en{
    line-height: 1.35rem;
    margin-bottom: 1rem;
}

ul {
    padding: 0 1rem;
    margin: 0 0 0.8rem 0;
    font-size: 14px;
    line-height: 1.8;
}

hr {
    border: 0px;
    height: 1px;
    background: #cccccc;
    margin: 20px 0;
}