
.skill-img {
    width: 90%;
    cursor: pointer;
}

.more-item {
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    background-color: rgba(86, 86, 86, 0.3);
    left: 0;
    top: 0;
    z-index: 2;
    overflow: auto;
    display: none;
}

.more-base {
    margin: 3% auto;
    width: 60%;
    padding: 3%;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
}


.scroll {
    overflow-x: auto;
}

.skill-img-big {
    height: 70vh;
}

.close {
    color: #999999;
    position: absolute;
    top: 5%;
    right: 10%;
    font-size: 1.5rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #025D8C;
    text-decoration: none;
    cursor: pointer;
}


.content-group {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}



.avatar {
    text-align: center;
}

.avatar-img {
    border-radius: 50%;
    width: 40%;
    border: 5px solid #999999;
}

.personal {
    font-size: 12px;
    text-align: center;
}

.name {
    text-align: center;
    margin: 0.2rem 0;
}

.ch-name {
    font-size: 22px;
}

.en-name {
    font-size: 16px;
}