.note {
    font-size: 16px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.skill-name {
    border-top: 1px solid #999999;
    padding-top: 0.3rem;
}

.skill-info {
    margin: 0 0 0.8rem 0;
}




.portfolio-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.portfolio-img {
    width: 100%;

}

.portfolio-img-black {
    padding:0 1%;
    position: relative;
    display: inline-block;
}
.index-farm-black{
    width: 30%;
    margin-bottom: 3%;
}
.index-pv-black{
    width: 20%;
}

.portfolio-img-black::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.portfolio-logo {
    width: 30%;
    padding-bottom: 10%;
    position: absolute;
    z-index: 2;
}
