.note {
    font-size: 16px;
}

#skills-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    justify-content: space-between;
}

#skills-list div{
    background-color: #bcc3c933;
    border-radius: 10px;
    padding: 1rem
}

#skills-list .skill-name{
    padding-top: 0rem;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-name {
    padding-top: 1rem;
    margin: 0px;
}

.skill-info {
    margin: 0 0 0.8rem 0;
}

.portfolio-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.portfolio-img {
    width: 100%;

}

.portfolio-img-black {
    width: 25%;
    padding:0 1%;
    position: relative;
    display: inline-block;
}

.index-farm-black{
    width: 30%;
    margin-bottom: 3%;
}
.index-pv-black{
    width: 20%;
}

.portfolio-img-black::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.portfolio-logo {
    width: 30%;
    padding-bottom: 10%;
    position: absolute;
    z-index: 2;
}
