#summary-container{
    margin-bottom: 0%;
}

.summary-content, .about-me-card{
    color: #444444;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    text-align: justify;
    padding: 15px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

/* 標題樣式 */
.section-title {
    border-bottom: 4px solid #025D8C;   
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}
.section-title::before {
    content: none;
}

.about-me-paragraph, .summary-item {
    line-height: 1.8;
    color: #444;
}

.about-me-paragraph strong {
    color: #025D8C;
    font-weight: 700;
}
